In [1]:
import pandas as pd
import numpy as np

In [2]:
car=pd.read_csv('quikr_car.csv')

In [3]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
car.shape

(892, 6)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

# CLEANING OF CODE

# year has many non-year values

In [6]:
backup=car.copy()

In [7]:
car=car[car['year'].str.isnumeric()]

## year is in object. Change to integer

In [8]:
car['year']=car['year'].astype(int)

## Price has Ask for Price

In [9]:
car=car[car['Price']!='Ask For Price']

## Price has commas in its prices and is in object

In [10]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

## kms_driven has object values with kms at last.

In [12]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

## It has nan values and two rows have 'Petrol' in them

In [13]:
car=car[car['kms_driven'].str.isnumeric()]

In [14]:
car['kms_driven']=car['kms_driven'].astype(int)

In [15]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

## fuel_type has nan values

In [16]:
car=car[~car['fuel_type'].isna()]

# name and company had spammed data...but with the previous cleaning, those rows got removed.

### Company does not need any cleaning now. Changing car names. Keeping only the first three words

In [17]:
car['name']=car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

 ## Resetting the index of the final cleaned data

In [18]:
car=car.reset_index(drop=True)

# Cleaned Data

In [19]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [20]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [21]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [22]:
car.to_csv('Cleaned_Car_data.csv')

## Model

In [23]:
X=car.drop(columns='Price')
y= car['Price']

In [24]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [25]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int32

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

## Creating an OneHotEncoder object to contain all the possible categories

In [28]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

## Creating a column transformer to transform categorical columns

In [29]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

### Linear Regression Model

In [30]:
lr=LinearRegression()

### Making a pipeline

In [31]:
pipe=make_pipeline(column_trans,lr)

### Fitting the model

In [32]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [33]:
y_pred=pipe.predict(X_test)

In [34]:
y_pred

array([ 682885.91101432,  372601.05771157,  189127.16680043,
        184871.63328226,  577512.86739407,  264244.87311411,
        716843.19490685,  307699.62747601,  336550.79558334,
        859400.63020497,  512684.47930645,  191098.13539732,
        263212.29086746,  554554.67579933,  382957.61143774,
        381631.16498772,  283561.94508775,  159196.64350527,
        238889.44554193,  500283.44370213,  304436.19623707,
        468343.32643981,  357831.64242761,  454922.65322579,
        413571.27202126,  367988.46601466,  627476.83966683,
        210748.64564737,  251308.42640457,  381631.16498772,
        169031.48597467,   31619.69244199,  554554.67579933,
        816513.18953091,  235835.78792921,  224078.80289885,
        428956.81336205,  241874.0997278 ,  266594.17397369,
         94858.23657349,  500354.6198067 ,  385290.8666162 ,
        116531.05741784,  105223.70931756,  524683.85363065,
        294570.53341064,  351919.74346924,  553217.49717713,
        467958.42912687,  116927.79791728,  682885.91101432,
        546310.43534303,  249338.32434966,  540970.02900778,
        357103.83975194,  341206.02317069,  534240.78698606,
         93167.82350933,  313520.83667486,  359233.97550156,
        439475.53536069,  317103.10993597, 1012103.01119637,
        -75253.68619654, -133331.02266295,  471941.98884246,
        151874.61299747,  167629.31713086,  461389.24709192,
        242144.14179265,  323121.66546261,  281135.14236452,
        542635.87088698,    5373.16819104,  111357.04670911,
        414533.16880799,  364133.39293712,  320120.07647964,
        301485.71285083,  542402.78288113,  110975.15368854,
        395388.60238801,  422980.00980192,  333303.13078249,
       1379845.70836608,  398756.67072941,    7410.20029347,
        519223.0790048 ,  263832.07893077,  570516.26285119,
        447842.18975815,  391133.45422886,  366619.86564916,
        230832.43440525,  150072.98235483,  320560.39407056,
        210997.98137221,  299635.90045872,  545298.34308634,
        596229.54359009,  234899.97445447,   48354.60055952,
        567213.15678903,  610599.21061378, -126468.51700226,
        797874.1068854 ,   67906.98875535,   25746.63663335,
        203408.52887633,  184590.9517214 ,  327036.30089298,
        840896.48121633,  324817.40709405,  250738.09264757,
        508771.2125949 ,  310341.11651859,  538957.37685896,
        322551.12414019,  465461.95804896,  469091.31390189,
        -22856.94574212,  408035.4618546 ,  566183.10132229,
        493082.32197283,  605291.95354487,  603388.94262253,
        630139.40787166, 1603095.90529201,  178423.07351486,
        186809.84477611,  507958.64221291,  513289.50870465,
       1660977.9113315 ,  205853.57433981,  500283.44370213,
        248057.42862593,  542612.26700865,  293890.87209743,
        294263.40791124,  295839.59629144,  380973.96687498,
        521183.94942821,  722336.71965101,  161829.97867515,
        178423.07351486,   12987.49377327,  373220.1377863 ,
        256200.83001035,  501202.95479676,  373220.1377863 ,
        480884.69965664,  660725.45397333,  286369.74893186,
        202424.36749743,  470658.84977536,  346864.05623853,
        576271.49847879,  169110.03323746,  236270.15593037,
        287669.37081484,  810658.76738048,  287669.37081484,
        155529.38273223])

In [35]:
r2_score(y_test,y_pred)

0.4906045451530836

 #### Finding the model with a random state of TrainTestSplit where the model was found to give almost 0.92 as r2_score

In [36]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [37]:
np.argmax(scores)

302

In [38]:
scores[np.argmax(scores)]

0.8991151250300994

### The best model is found at a certain random state

In [39]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8991151250300994

In [40]:
import pickle

In [41]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [42]:
pipe.predict(pd.DataFrame(columns=['name','company','year','kms_driven','fuel_type'],data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([456693.77239331])

In [ ]:
pipe.steps[0][1].transformers[0][1].categories[0]